header {
    padding: 1rem $gutter;
    h1 {font-size: 2rem;}
}


/* NAVIGATION STUFF GOES HERE  */
nav button {display: none;}

ul#primaryNav {height: auto;}

nav {
    background-color: $primaryColor;
    z-index: 99;
    ul{
        display: flex;
        margin-left: 2%;
        border-left: 1px solid rgba(0,0,0,.1)
    }
    ul li {border-right: 1px solid rgba(0,0,0,.1);}

    ul li a {
        display: block;
        font-size: 1rem;
        padding: .9rem 1.2rem;
        color: rgba(225,225,225,.9);
        text-decoration: none;
        transition: background 0.3s linear;
    }
    ul li a:hover {
        background-color: rgba(0,0,0,.5);
    }

    #primaryNav li.parent > a:after {
        content: "\25BC";
        font-size: .65rem;
        color: rgba(225,225,225,.5);
        float: right;
        margin-left: .5rem;
        margin-top: 2px;
    }
    ul li ul {
        display: flex;
        flex-direction: column;
        background-color: darken($primaryColor, 5%);
        border: none;
        width: 14rem;
        position: absolute;
        left: -999rem;
        z-index: 99;
    } //child ul
    ul li ul li {
        border-right: none;
        border-top: solid 1px rgba(0,0,0,.2);
    }

    ul li:hover ul {
        left: auto;
        margin-left: 0;
    }

    li.active a {background-color: rgba(0,0,0,.25);}
} // end nav






// MAIN
.swiper .heroText {
    font-size: 1.5rem;
}


.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    section {
        margin: 10px;
        img{margin: 0;}
    }
}

.customers {
    section {
        display: grid;
        grid-template-columns: 140px auto;
        column-gap: 1rem;
        padding: 10px;
    }// end section
} // end parent