$primaryColor: #244151;
$secondaryColor: #538998;
$fontColor: #333;
$backgroundColor: #f3f7f7;

$defaultFont: "Barlow", sans-serif;
$headingFont: "Libre Bodoni", serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;